body {
    background-color: #fff;
}
.main {
    width:614px;
    min-height: 346px;
    margin: auto;
    border-radius: 10px;
    background-color: #232332;
    margin-top: 100px;
    /*box-shadow: 2px 2px 150px 130px #5e5e60;*/ 
    video {
        width:614px;
        height: 346px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .video-screen  {
        width: 614px;
        min-height: 400px;
        border-radius: 10px;
        background-image: url("images/splash2.png");
        background-repeat: no-repeat;
        box-shadow: 0px 2px 100px #fff;
        
    }

    .linear-father {
        position: relative;
        width:614px;
        height: 346px;
        
    }
    .linear-gradient-visible-on {
        position: absolute;
        top:300px;
        width:614px;
        height: 102px;
        background-image: linear-gradient(to bottom, rgba(247,248,252,0), rgba(61,61,61,1) 85%);
        background-repeat: no-repeat;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        
    }

    .progress-line {
        position: relative;
    }
    .progress-line-bottom {
        position: absolute;
        width:560px;
        height: 4px;
    
        top:50px;
        left:30px;
        background-color: #bfc0c2;
        border-radius: 3px;
    }
    .progress-line-top{
        position: absolute;
        width: 100px;
        height: 4px;
        top:50px;
        left:30px;
        background-color:#ffffff; 
        border-radius: 3px;
    }

    .play-container-visible-on {
        float: left;
    }
    .pause-container-visible-on{
        float: left;
    }
    .play-container-visible-on > img {
        display: block;
        margin-top:70px;
        margin-left: 30px;
    }
    .play-container-visible-off > img {
        display: none;
    }
    .pause-containter-visible-off > img {
        display: none;
    }
    .pause-container-visible-on > img {
        display: block;
        margin-top:68px;
        margin-left: 25px;
        margin-right: -2px;
    }
    .current-time-container,.mute-ico-visible-on,.size-ico-visible-on,.un-mute-ico-visible-off,.more-ico {
        position: relative;
        float: left;
    }
    #current-time {
        position: absolute;
        color:white;
        top:54px;
        left:20px;
    }