body {
    background-color: #232326;
}
.main {
    width:614px;
    min-height: 346px;
    margin: auto;
    
    border-radius: 10px;
    background-color: #232332;
    margin-top: 100px;
    /*box-shadow: 2px 2px 150px 130px #5e5e60;*/
        